<h1>
  Movie #<%= @the_movie.id %> details
</h1>

<a href="/movies">
  Go back
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @the_movie.title %>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%= @the_movie.year %>
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%= @the_movie.duration %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @the_movie.description %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @the_movie.image %>" style="width:250px;">
  </dd>

  <dt>
    Director
  </dt>
  <dd>
    <% dir_id = @the_movie.director_id %>
    
    <% matching_directors = Director.where({ :id => dir_id }) %>
    
    <% the_director = matching_directors.at(0) %>

    <%= the_director.name %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @the_movie.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @the_movie.updated_at %>
  </dd>
</dl>

<hr>
